.faq-header {
    width:100%;
    display: flex;
    flex-direction: column;
    padding: 100px;  
    position: relative;
}

.faq-header-text {
    
    h1{ 
        margin:0;
        font-size: 72px;
    }
    h4 {
        margin-top: 8px;
        font-size: 40px; 
    }
}
.block1 {
    position: absolute;
    right: 0;
    bottom: 0; 
    z-index: -1;
}

.faq-info {
    background-color:#3E3E3E;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 100px;
    position: relative;
    
}

.block2 {
        position: absolute;
        right: 7%;
        top: 0; 
        z-index: 0;
}

.block3 {
    position: absolute;
    left: 0;
    bottom: 0; 
    z-index: 1;
}

.faq-unit-card {
    position: relative;
    text-align: center;
    margin-top: 8px;
    object-fit: cover;
    padding: 12px;
  }
  

.faq-info-text {
    padding: 16px; 
    font-family: Roboto;
    font-size: 2em;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -0.023951999843120575px;
    text-align: left;
    color: white; 
    align-items: center;
    justify-content: center;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    font-weight: 900; 
    flex-direction: column;
}

.faq-question-top {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.faq-question:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 100%; /* Change this to whatever width you want. */
    border-bottom: 1px solid #D2D2D2; /* This creates the border. Replace black with whatever color you want. */
}

.faq-question-top:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 100%; /* Change this to whatever width you want. */
    border-bottom: 1px solid #D2D2D2; /* This creates the border. Replace black with whatever color you want. */
}

.faq-box {
    height: 14.5vh;
    width: 100%;
    padding: 0; 
    display: flex;
    justify-content: flex-end;
    text-align: right;
h2 {
    font-size: 48px;
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 16px;}
}

.faq-question-header {
    justify-content: space-between;
    padding: 24px; 
}

.faq-questions-lg  {
    padding: 32px; 
    font-family: Roboto;
    font-weight: 400;
}

.faq-questions-lg-text {
    padding: 16px; 
}

.faq-question-text {
    font-family: Roboto;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.011975999921560287px;
    text-align: left;
}

.faq-logos {
    display:flex;
    flex-direction: row;
    padding: 16px;
}

.faq-arrows {
    margin-right: 128px;
}

.faq-unit-last {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-40%, -40%);
    color:#F71167;
    font-size: 32px;
    font-weight: 900;
    text-align: start;
  }
  
  .faq-unit-text-last-info {
    position: absolute;
    top: 65%;
    left: 40%;
    transform: translate(-40%, -40%);
    color: white;
    text-align: start;
  }

#third3, #third, #third2, #first1, #first2,#first3,#first4,#first5,#first6,#first7,#first8  {
    display: none; 
}

.soc-icons {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
} 

.soc-icon {
    padding: 8px; 
}

.faq-header-info {
    display: flex;
    flex-direction: column;
    padding: 32px;
    h1 {
        font-size: 56px;}
  }

@media screen and (max-width: 600px) {

    .faq-info-text {
        padding: 8px; 
        font-family: Roboto;
        font-size: 1.3em;
        font-style: normal;
        line-height: 21px;
        font-weight: 500;
        text-align: left;
        color: white; 
    }

    .faq-box { 
        height: 12.5vh;
        text-align: center;   
    h2 {
        padding: 8px; 
        font-size: 24px;}
    }

    .faq-arrows {
        margin-right: 24px;
    }
    

    .faq-header-info {
        h1 {
            font-size: 32px;}
      }

      .faq-header-text {
        h1 {
            font-size: 42px;}
        h4 {
            font-size: 24px;
        }
      }
    

      .faq-logos {
      height: 100px;
      width: 100px;
      padding: 8px;
    }

}