.faq-header {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    
}

.block1 {
    position: relative;
    right: 0;
    bottom: 0;
}

.faq-info {
    height: 60vh;
    background-color:#3E3E3E;
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 64px;
    
}

.faq-question {
    border-bottom: 1px solid #D2D2D2;
    display: flex;
    justify-content: space-between;
    font-weight: 900; 
}

.faq-question-top {
    border-top: 1px solid #D2D2D2; 
    border-bottom: 1px solid #D2D2D2;
    display: flex;
    justify-content: space-between;
}

.faq-box {
    height: 10vh;
    width: 100%;
    padding: 0; 
    display: flex;
    justify-content: space-between;
}