// Specific CSS for your home-page
body {
  background-image: url("BGBlockswithWhite-1.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}
.header-container {
  background-image: url("HeroImageWithBlocksOverlay-1024x640.png");
  width: 100%;
  background-size: cover;
  background-position: center;
}

.header-info {
  display: flex;
  flex-direction: column;
  padding: 64px;
  text-align: start;
}

.intro-info {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  margin-bottom: 6vh;
}

.keyword-container {
  //max-height: 50vh;
  width: 100vw;
  display: flex;
}

.pro-container {
  //max-height: 190vh;
  //width: 100%;
}

.keyword {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 16px;

}

.pros-container {
  //display: flex;
}

.pro {
  display:flex;
  flex-direction: column;
  border-right: 5px solid #49F4F6;
  //height:800px;
  padding: 0;
}

.pro-photo {
  //height: 650px;
  //overflow: hidden;
  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
}


.pro-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F71167;
  text-align: start;
  padding: 16px;
  height: 320px;
}

.unit-card {
  position: relative;
  text-align: center;
  margin-top: 8px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.unit-card:hover > .overlay {
  opacity: 1;
}

.unit-card:hover {
  image-background: yellow;
}


.unit-card:hover > .unit-text-hover {
   color: white;
   animation: fadeIn ease 0.1s;
}


.unit-text {
  position: absolute;
  top: 30%;
  left: 40%;
  transform: translate(-30%, -40%);
  color: white;
  font-family: "Roboto", Sans-serif;
  font-size: 24px;
  font-weight: 900;
  text-transform: lowercase;
  font-style: normal;
  text-decoration: none;
  line-height: 1.33em;
}

.unit-text-hover {
    position: absolute;
  top: 55%;
  left: 40%;
  transform: translate(-30%, -40%);
  color: transparent;
  font-family: "Roboto", Sans-serif;
  font-size: 16px;
  font-weight: 900;
  text-transform: lowercase;
  font-style: normal;
  text-decoration: none;
  line-height: 1.33em;
  text-align: start;
}

.unit-last {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-40%, -40%);
  color:#F71167;
  font-size: 32px;
  font-weight: 900;
  text-align: start;
}

.unit-text-last-info {
  position: absolute;
  top: 60%;
  left: 40%;
  transform: translate(-40%, -40%);
  color: white;
  text-align: start;
}

p {
    color: #3E3E3E;
    font-family: roboto;
    font-size: 18px;
    font-weight: 500;
    text-transform: none;
    font-style: normal;
    line-height: 1.33em;
}

h1 {
    font-size: 8vh;
    font-family: roboto;
    font-weight: 900;
    font-style: normal;
    text-decoration: none;
    line-height: 0.9em;
    letter-spacing: -0.5px;
}

h2, h3 {
  font-size: 4vw;
  font-weight: 900;
}

h4 {
  font-size: 24px;
  font-weight: 900
}
.navbar {
  display: flex;
  justify-content: space-around;
}

.links {
  list-style-type: none;
  color: yellow;
  font-family: "Roboto", Sans-serif;
  font-size: 18px;
  font-weight: 900;
  text-transform: lowercase;
  font-style: normal;
  text-decoration: none;
  line-height: 1.33em;
 li {
  display: inline-block;
  text-decoration: none;
 }
 li:hover {
  transform: translate(0px, -6px);
  text-decoration: none;
  color: yellow;
  transition: 0.3s;
 }
}

.yellow-button {
  width: 245px;
  height: 50px;
  background-color: yellow;
  text-align: center;
  justify-content: center;
  padding: 12px;
  color: #3E3E3E;
  font-family: "Roboto", Sans-serif;
  font-size: 18px;
  font-weight: 900;
  text-transform: lowercase;
  font-style: normal;
  text-decoration: none;
  line-height: 1.33em;
  margin-top: 16px;
  :hover {
  transform: translate(0px, -6px);
  text-decoration: none;
  color: yellow;
  transition: 0.3s;
  }
}

.why-learn-container {
  //height: 120vh;
}
.why-learn {
display: flex;
justify-content: flex-start;
align-items: center;
margin-bottom: 1vh;

p {
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  padding: 8px;
 }
}

.level-container {
  //height: 70vh;
  width: 100%;
  background-image: url("LevelUpSectionImage-1-1024x316.png");
  background-size: cover;
  background-position: center;
}

.logos {
  margin-bottom: 8px;
}

.student-text {
  height: 214px;
  width: 214px;
  background-color: #F71167;
  text-align: center;
}

.choices-container {
  //max-height: 70vh;
  width: 100vw;
  display: flex;
  text-align: start;

}


.chatbot {
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  max-width: 200px;
  padding: 10px;
  background-color: white;
}

@media only screen and (max-width: 767px) {

   h1 {
      font-size: 3em;
   }

   h2 {
      font-size: 2em;
   }
 }







