// Specific CSS for your home-page
body {
  background-image: url("BGBlockswithWhite-1.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}
.header-container {
  background-image: url("HeroImageWithBlocksOverlay-1024x640.png");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.header-info {
  display: flex;
  flex-direction: column;
  //align-items: center;
  padding: 64px;
}

.intro-info {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.keyword-container {
  max-height: 50vh;
  width: 100%;
  display: flex;
}

.pro-container {
  max-height: 200vh;
  height: 150vh;
  width: 100%;
}

.keyword {
  text-align: center;
  align-items: center;
  padding-top: 16px;

}

.pros-container {
  display: flex;
}

.pro {
  border-right: 1px solid #49F4F6;
  margin: 0;
  padding: 0;
}


.pro-text {
  background-color: #F71167;
  text-align: center;
  width: 243px;
  height:250px;
  padding: 16px;
}

p {
    color: #3E3E3E;
    font-size: 18px;
    font-weight: 500;
    text-transform: none;
    font-style: normal;
    line-height: 1.33em;
}

h1 {
    font-size: 9vh;
    font-family: roboto;
    font-weight: 900;
    font-style: normal;
    text-decoration: none;
    line-height: 0.9em;
    letter-spacing: -0.5px;
}

h2, h3 {
  font-size: 4vw;
  font-weight: 900;
}
.navbar {
  display: flex;
  justify-content: space-around;
}

.links {
  list-style-type: none;
  color: yellow;
  font-family: "Roboto", Sans-serif;
  font-size: 18px;
  font-weight: 900;
  text-transform: lowercase;
  font-style: normal;
  text-decoration: none;
  line-height: 1.33em;
 li {
  display: inline-block;
 }
}

.yellow-button {
  width: 245px;
  height: 50px;
  background-color: yellow;
  text-align: center;
  justify-content: center;
  padding: 12px;
  color: #3E3E3E;
  font-family: "Roboto", Sans-serif;
  font-size: 18px;
  font-weight: 900;
  text-transform: lowercase;
  font-style: normal;
  text-decoration: none;
  line-height: 1.33em;
  margin-top: 16px;
}

.why-learn {
display: inline;
}

.level-container {
  height: 70vh;
  width: 100%;
  background-image: url("LevelUpSectionImage-1-1024x316.png");
  background-size: cover;
  background-position: center;
}

.logos {
  margin-bottom: 8px;
}

.student-text {
  height: 214px;
  width: 214px;
  background-color: #F71167;
  text-align: center;
}

.choices-container {
  max-height: 70vh;
  width: 100%;
  display: flex;
}

.webfooter {
  height: 70vh;
  background-color: #3E3E3E;
  margin-top: 10vh;
}

.chatbot {
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  max-width: 200px;
  padding: 10px;
  background-color: white;
}






