.policy-card {
  border: 3px solid #A1BDEA;
  border-radius: 4px;
  text-align: center;
  padding: 18px;
  p {
  font-family: "Roboto", Sans-serif;
  font-size: 24px;
  font-weight: 900;
  text-transform: none;
  font-style: normal;
  line-height: 32px;
  letter-spacing: -0.1px;
  color: #A1BDEA;}
}
