.policy-card {
  border: 3px solid #A1BDEA;
  border-radius: 4px;
  text-align: center;
  padding: 18px;
  margin: 4px;
  //margin-left: 24px;
  p {
  font-family: "Roboto", Sans-serif;
  font-size: 24px;
  font-weight: 900;
  text-transform: none;
  font-style: normal;
  line-height: 32px;
  letter-spacing: -0.1px;
  color: #A1BDEA;}
}

.policy-card:hover {
  animation: fadeIn ease 1.2s;
  background-color: #447CD5;
  border: 3px solid #447CD5;
  p {
    color: white;
    text-transform: none;
    text-decoration: none;
  }
}
