.terms {
width: 640px;
border: 0.5px solid grey;
margin-top: 5vh;
box-shadow: 5px 9px 11px -10px rgba(0,0,0,0.39);
text-align: start;
padding: 16px;
margin: 0 auto;
font-family: "Roboto", Sans-serif;
font-size: 16px;
}
