.red-heart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10vh;
}

.unit-text-page {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-40%, -40%);
  h5 {
  color: white;
  font-family: "Roboto", Sans-serif;
  font-size: 24px;
  font-weight: 900;
  text-transform: lowercase;
  font-style: normal;
  text-decoration: none;
  line-height: 1.33em;
  }
  p {
    color: white;
    opacity: 0.9;
    font-size: 18px;
    font-weight: 900;
  }
}
