<div class="webfooter">
  <div><%= image_tag "TheWrdLogo.svg", height: 140, width: 140, overflow: :hidden %></div>
  <p>about</p>
  <p>©<%=Date.current.year%> #TheWRD. All rights reserved.</p>
  </div>
