<div class="container-fluid homepage">
  <div class="thewrd-logo row">
    <%= image_tag "TheWRD-2.png", height: 300, width: 370, overflow: :hidden %>
  </div>
  <div class="row">
    <h1>Select your profile</h1>
  </div>
  <div class="row buttons">
    <ul>
      <li><div class="hmp-btn"><p>students</p></div></li>
      <li><div class="hmp-btn"><p>parents</p></div></li>
      <li><div class="hmp-btn"><p>educators</p></div></li>
      <li><div class="hmp-btn"><p>others</p></div></li>
    </ul>
  </div>
</div>
