<div class="wrapper">
     <%= video_tag'COLOR OVERLAY.mp4',
      id:'video-background',
      autoplay: true,
      muted: true,
      loop: :loop,
      poster: 'HeroImageWithBlocksOverlay-1024x640.png' %>
        <%= image_tag "TheWrdLogo.png", height: 200, width: 290, overflow: :hidden %>
        <br>
        <h1 style="text-align: center; color:#49F4F6;">welcome to studyTHEWRD</h1>
        <h4 style="text-align: center">tell us who you are so we can open the right door</h4>
      <div class="row buttons justify-content-between">
          <div class="hmp-btn jump"><p>student<br>16-19</p></div>
          <div class="hmp-btn jump"><p>student<br> 19+</p></div>
          <div class="hmp-btn jump"><p>parents/<br>guardian/<br>carer</p></div>
          <div class="hmp-btn jump"><p>educators</p></div>
          <div class="hmp-btn jump"><p>other</p></div>
      </div>
  </div>
