<div class="container-fluid homepage">
  <%= video_tag (
    'COLOR OVERLAY.mp4',
    id:'video-background',
    autoplay: true,
    muted: true,
    poster: 'HeroImageWithBlocksOverlay-1024x640.png'
  ) %>
  <div class="thewrd-logo row">
    <%= image_tag "TheWRD-2.png", height: 300, width: 370, overflow: :hidden %>
  </div>
  <div class="row">
    <h1>Select your profile</h1>
  </div>
  <div class="row buttons">
      <div class="hmp-btn jump"><p>students</p></div>
      <div class="hmp-btn jump"><p>parents</p></div>
      <div class="hmp-btn jump"><p>educators</p></div>
      <div class="hmp-btn jump"><p>others</p></div>
  </div>
</div>
