<div class="wrapper">
     <%= video_tag'COLOR OVERLAY.mp4',
      id:'video-background',
      autoplay: true,
      muted: true,
      loop: :loop,
      poster: 'HeroImageWithBlocksOverlay-1024x640.png' %>
        <%= image_tag "TheWRD-2.png", height: 290, width: 360, overflow: :hidden %>
        <h4>Select your profile</h4>
      <div class="row buttons justify-content-between">
          <div class="hmp-btn jump"><p>students</p></div>
          <div class="hmp-btn jump"><p>parents</p></div>
          <div class="hmp-btn jump"><p>educators</p></div>
          <div class="hmp-btn jump"><p>others</p></div>
      </div>
  </div>
