<div class="parkr">

<script>
  window.watsonAssistantChatOptions = {
      integrationID: "93ee4d39-9790-43da-9cf9-2c16e044da19", // The ID of this integration.
      region: "eu-gb", // The region your integration is hosted in.
      serviceInstanceID: "3e347221-8905-4637-9117-28cbd4512ea3", // The ID of your service instance.
      onLoad: function(instance) { instance.render(); }
    };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js";
    document.head.appendChild(t);
  });
</script>
</div>
