<div class="container">
  <div class="row header-info">
    <h1>policies and procedures</h1>
    <p>All our policies and procedures are scheduled for review in August 2021.</p>
  </div>
  <div class="row">
    <div class="policy-card col-md-3 col-12">
      <p>Equal Opportunities Policy</p>
    </div>
    <div class="policy-card col-md-3 col-12">
      <p>Induction and Enrolment Policy</p>
    </div>
    <div class="policy-card col-md-3 col-12">
      <p>Registration and certification Policy</p>
    </div>
    <div class="policy-card col-md-3 col-12">
      <p>Learning and Teaching Strategy</p>
    </div>
    <div class="policy-card col-md-3 col-12">
      <p>Complaints and Appeals Policy</p>
    </div>
    <div class="policy-card col-md-3 col-12">
      <p>Internal Moderation Policy</p>
    </div>
    <div class="policy-card col-md-3 col-12">
      <p>Academic Malpractice Policy</p>
    </div>
    <div class="policy-card col-md-3 col-12">
      <p>Conflict of Interest Policy</p>
    </div>
    <div class="policy-card col-md-3 col-12">
      <p>Health and Safety Policy</p>
    </div>
    <div class="policy-card col-md-3 col-12">
      <p>Quality Insurance Policy</p>
    </div>
    <div class="policy-card col-md-3 col-12">
      <p>Internal Verification Policy</p>
    </div>
    <div class="policy-card col-md-3 col-12">
      <p>Recognition of Prior Learning Policy</p>
    </div>
  </div>
</div>
<%= render "shared/webfooter"%>
