<div class="container">
  <div class="legal row">
  <h1>privacy policy</h1>
  </div>
  <div class="row">
    <div class="terms">
      <h4>About this Notice </h4>
      <p>This privacy notice explains how Hashtag TheWrd  (“HASHTAG THEWRD”, “we”, “our”, “us”) collects, uses and shares your personal data, and your rights in relation to the personal data we hold. This privacy notice concerns our processing of personal data of people who interact with HASHTAG THEWRD (“you”, “your”).</p>
      <p>HASHTAG THEWRD is the data controller of your personal data and is subject to the Data Protection Act 1998 (“DPA”) (and, once in force, to the General Data Protection Regulation (the “GDPR”)).</p>
      <h4>HOW WE COLLECT YOUR INFORMATION</h4>
      <p>We may collect your personal data if you wish to access some of our services, for example:</p>
      <ul>
        <li>To register for open days;</li>
        <li>Making an initial application enquiry;</li>
        <li>To order a publication such as a printed prospectus;</li>
        <li>To subscribe to email marketing communications such as online newsletters</li>
      </ul>
      <p>We will collect this information predominantly via our web forms, however we may contact you for clarification or further information if it is needed in order to provide you access to the services requested.</p>
      <h4>THE TYPES OF INFORMATION WE COLLECT</h4>
      <p>We may collect the following types of personal data about you:</p>
      <ul>
        <li>your name, and contact information such as address, email address and telephone number, as well as your date of birth, and your nationality. We will also allocate you a unique student number;</li>
        <li>information relating to your current interests and preferences, education experience, records of communication sent to you by HASHTAG THEWRD or received from you and attendance at HASHTAG THEWRD events.</li>
      </ul>
      <p>When you provide us with your contact details you will be asked whether you wish to receive any further communications from us.</p>
      <p>We will ensure that all personal data you supply is held in accordance with the Data Protection Act 1998. We do not sell or otherwise transfer personal data to any third parties unless you have consented to this or this is permitted by law.</p>
      <h4>HOW WE USE YOUR INFORMATION</h4>
      <p>The purposes for which we may use personal data is:</p>
      <ul>
        <li>recruitment and admissions;</li>
        <li>other administrative purposes, including: - carrying out research and statistical analysis; - carrying out audits (e.g. to ensure compliance with our regulatory and legal obligations).</li>
      </ul>
      <p>For people who make a full application to study with us, there is separate privacy notice covering the ways in which we will collect, process and store your data. The Registration and Certification Policy is available to view in the Policy Documents section of the website.</p>
      <h4>MARKETING</h4>
      <p>We are keen to communicate our activities, institutional views, latest news and points of excellence with staff, stakeholders, students, alumni and supporters. We do this by providing information through a range of online and offline channels including publications, events, press releases, social media and email.</p>
      <p>In order to do this, we have a database that contains personal data collected by HASHTAG THEWRD during the course of our relationship with our stakeholders, staff, students, alumni, and interested parties.  We aim to keep your data up to date and welcome any updates to your details or corrections to any inaccuracies you may wish to provide.</p>
      <p>You have a right to request copies of the data held about you by HASHTAG THEWRD. To do so, please contact: <a href="mailto:dataprotection@studythewrd.com.">dataprotection@studythewrd.com.</a> If you no longer want us to use your data or wish to amend the type of communications you receive, then you can opt out at any time via the unsubscribe link included in every email.</p>
      <p>We value our relationship with you, and we use your personal data to personalise our communications, improve our services and ensure we work efficiently and effectively.</p>
      <p>Unless you have requested otherwise, your data is accessible by all relevant staff of HASHTAG THEWRD.</p>
      <p>These include the following communications and marketing activities (by mail, email, sms and telephone):</p>
      <ul>
        <li>Sending HASHTAG THEWRD publications;</li>
        <li>Promoting our services;</li>
        <li>Notifying you of upcoming events;</li>
        <li>Promoting discounts and opportunities.</li>
      </ul>
      <p>Tools may be used to help us improve the effectiveness of our communications with you, including tracking whether the emails we send are opened and which links are clicked within a message.</p>
      <p>Lastly, we use data to undertake analysis projects to ensure only effective and relevant communications are sent to you. A list of suppliers can be provided on request.</p>
      <h4>HOW LONG YOUR INFORMATION IS KEPT</h4>
      <p>Subject to any other notices that we may provide to you, we may retain your personal data for a period of six years after your association with us has come to an end. However, some information may be retained indefinitely by us in order to maintain your academic record for archiving purposes (or for the purposes of supporting your lifelong relationship with HASHTAG THEWRD).</p>
      <h4>YOUR RIGHTS</h4>
      <p>Under the DPA you have the following rights:</p>
      <ul>
        <li>to obtain access to, and copies of, the personal data that we hold about you;</li>
        <li>to require that we cease processing your personal data if the processing is causing you damage or distress;</li>
        <li>to require us not to send you marketing communications.</li>
      </ul>
      <p>Once the GDPR comes into force in May 2018, you will also have the following additional rights:</p>
      <ul>
        <li>to require us to correct the personal data we hold about you if it is incorrect;</li>
        <li>to require us to erase your personal data;</li>
        <li>to require us to restrict our data processing activities (and, where our processing is based on your consent, you may withdraw that consent, without affecting the lawfulness of our processing based on consent before its withdrawal);</li>
        <li>to receive from us the personal data we hold about you which you have provided to us, in a reasonable format specified by you, including for the purpose of you transmitting that personal data to another data controller;</li>
        <li>to object, on grounds relating to your particular situation, to any of our particular processing activities where you feel this has a disproportionate impact on your rights.</li>
      </ul>
      <p>Please note that the above rights are not absolute, and we may be entitled to refuse requests where exceptions apply.</p>
      <p>If you have given your consent and you wish to withdraw it, please contact our Data Protection Officer using the contact details set out below. Please note that where our processing of your personal data relies on your consent and where you then withdraw that consent, we may not be able to provide all or some aspects of our services to you and/or it may affect the provision of those services.</p>
      <h4>CONTACT US</h4>
      <p>If you have any queries about this privacy notice or how we process your personal data, you can contact our Data Protection Officer by email: <a href="mailto:dataprotection@studythewrd.com.">dataprotection@studythewrd.com</a>; by telephone: 07709076024; or by post: Data Protection Officer, HASHTAG THEWRD, 8th Floor 167, Fleet Street, London, EC4A 2EA, UK.</p>
      <p>To request access to the personal data that we hold about you, you may contact our Data Protection Office by email: <a href="mailto:dataprotection@studythewrd.com.">dataprotection@studythewrd.com.</a></p>
      <p>If you are not satisfied with how we are processing your personal data, you can make a complaint to the Information Commissioner.</p>
      <p>You can find out more about your rights under data protection legislation from the Information Commissioner’s Office website available at: <a href="https://www.ico.org.uk.">www.ico.org.uk.</a></p>
      <p> If you would like more details about how we use and store your personal data, you can view our Data Protection Manual on our Policies Page.</p>
    </div>
  </div>
</div>
<%= render "shared/webfooter"%>
