.parkr {
  height: 100vh;
  background-image: url("HeroImageWithBlocksOverlay-1024x640.png");
  background-size: cover;
}

.WAC__received {
  border: 1px solid #8F55CC !important;
  background-color: #8F55CC!important;
  border-radius: 24px 24px 24px 0px !important;
  color: white !important;
  padding: 24px 24px 24px!important;
  align-items: center !important;
  ul {
    margin-top: 0 !important;
  }
}

.WAC__sent {
  border: 1px solid  #F10062 !important;
  background-color:  #F10062!important;
  border-radius: 24px 24px 0px 24px !important;
  color: white !important;
  padding: 24px 24px 24px !important;
  font-family: "Roboto", Sans-serif !important;
  font-weight: 500 !important;
  font-size: 14px !important;
}

.WAC__bot-bar{
  display: none !important;
}

.WAC__sent::after {
  display: none !important;
}

.WAC__RichText {
  color: white !important;
  font-family: "Roboto", Sans-serif !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  a {
    color: white !important;
  }
}

.WAC__button {
  align-items: center;
  font-family: "Roboto", Sans-serif !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  background-color: #541B8F!important;
  color: white !important;
  padding: 8px 24px 8px 24px !important;
  border-radius: 8px !important;
}
