.webfooter {
  height: 70vh;
  background-color: #3E3E3E;
  margin-top: 10vh;
  //display: flex;
  //flex-direction: column;
  //justify-content: space-between;

}

.webfooter-links {
  padding: 4px;
  height:70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
  color: yellow;
  font-family: "Roboto", Sans-serif;
  font-size: 18px;
  font-weight: 900;
  text-transform: lowercase;
  font-style: normal;
  text-decoration: none;
  line-height: 1.33em;
  ul {
    padding: 0;
  }
  li {
  text-decoration: none;
  list-style-type: none;
  padding-top:24px;
    }
  li:hover {
  transform: translate(0px, -6px);
  text-decoration: none;
  color: yellow;
  transition: 0.3s;
  list-style-type: none;
 }

 p {
  color: #9f9f9f;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  margin: 0;
 }
}

@media screen and (max-width: 600px) {
 .webfooter-links {
  padding-left: 16px;
 }
 }
